<a href="https://colab.research.google.com/github/bijaykahar/House-Price-Predection/blob/master/Home_Loan_Prediction_Rubixe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import zipfile
with zipfile.ZipFile('/content/drive/My Drive/Internship_DataMites/PRCP-1006-HomeLoanDef-20200821T121214Z-001.zip', 'r') as zip_ref:
    zip_ref.extractall("/content/drive/My Drive/Internship_DataMites")

In [ ]:
path ='/content/drive/My Drive/Internship_DataMites/PRCP-1006-HomeLoanDef'

In [ ]:
app_train= pd.read_csv(path+'/application_train.csv')
app_train.shape

In [ ]:
#Random Sampling taking the Top 1 Lakh Data 
X=app_train.head(100000) 
X.to_csv('TrainingData.csv')

In [ ]:
'''
POS_CASH_bal = pd.read_csv(path + '/POS_CASH_balance.csv')
bru = pd.read_csv(path+'/bureau.csv')
bru_bal = pd.read_csv(path + "/bureau_balance.csv")
cre_card_bal = pd.read_csv(path + "/credit_card_balance.csv")
inst_paymnt= pd.read_csv(path + "/installments_payments.csv")
prev_bal = pd.read_csv(path + "/previous_application.csv")

'''

From This Onward you Can Execute

In [9]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
train_data=pd.read_csv('TrainingData.csv')

In [12]:
train_data.columns

Index(['Unnamed: 0', 'SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE',
       'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'AMT_CREDIT',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=123)

In [13]:
train_data.shape

(7676, 123)

In [14]:
del train_data['Unnamed: 0']  #Removing The Unwanted Variable

In [15]:
count=0
for col in train_data.columns:
  if (train_data[col].isnull().count()):
    count=count+1

print(count)

#Note - All Columns has Null Values

122

In [16]:
def null_val_treatment(df):
  count=0
  for col in df.columns:
    if (100 * train_data[col].isnull().sum()) / len(df) > 0.50:
      count=count+1
      #print(col)
  print(count)
      


null_val_treatment(train_data)

57

In [17]:
train_data.dtypes.value_counts()

float64    101
object      16
int64        5
dtype: int64

In [18]:
train_data.select_dtypes('object').apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    2
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               5
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             5
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder
labelencoder=  LabelEncoder()

In [20]:
cat_features=[x for x in train_data.columns if train_data[x].dtype=="object"]

for col in cat_features:
    if col in train_data.columns:
        i = train_data.columns.get_loc(col)
        train_data.iloc[:,i] = train_data.apply(lambda i:labelencoder.fit_transform(i.astype(str)), axis=0, result_type='expand')

In [21]:
train_data['ORGANIZATION_TYPE'].head(10)

0     5
1    39
2    11
3     5
4    37
5    33
6     5
7    33
8    57
9     9
Name: ORGANIZATION_TYPE, dtype: int64

In [22]:
len(train_data.columns)

122

In [23]:
correlations = train_data.corr()['TARGET'].sort_values() 

# Display correlations
print('Most Positive Correlations:\n', correlations.tail(15))
print('\nMost Negative Correlations:\n', correlations.head(15))

Most Positive Correlations:
 DEF_30_CNT_SOCIAL_CIRCLE       0.056061
DAYS_REGISTRATION              0.056881
CODE_GENDER                    0.058050
DAYS_LAST_PHONE_CHANGE         0.061730
NAME_EDUCATION_TYPE            0.067345
DAYS_ID_PUBLISH                0.069965
REGION_RATING_CLIENT_W_CITY    0.072158
REGION_RATING_CLIENT           0.072341
DAYS_BIRTH                     0.085858
TARGET                         1.000000
FLAG_MOBIL                          NaN
FLAG_DOCUMENT_2                     NaN
FLAG_DOCUMENT_7                     NaN
FLAG_DOCUMENT_10                    NaN
FLAG_DOCUMENT_12                    NaN
Name: TARGET, dtype: float64

Most Negative Correlations:
 EXT_SOURCE_3                   -0.205454
EXT_SOURCE_1                   -0.172153
EXT_SOURCE_2                   -0.164017
AMT_GOODS_PRICE                -0.053932
AMT_CREDIT                     -0.046635
NAME_CONTRACT_TYPE             -0.039358
FLOORSMIN_MEDI                 -0.038762
FLOORSMIN_MODE                 -0.037877
FLOORSMIN_AVG                  -0.037665
DAYS_EMPLOYED                  -0.034227
HOUR_APPR_PROCESS_START        -0.033296
REGION_POPULATION_RELATIVE     -0.032888
YEARS_BEGINEXPLUATATION_MEDI   -0.030767
FLAG_PHONE                     -0.029736
YEARS_BEGINEXPLUATATION_MODE   -0.029663
Name: TARGET, dtype: float64